<%- include('partials/nav.ejs') %>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <div class="row">
            <div class="col-md-6 mx-auto bg-light">


                <div class="jumbotron">
                    <h1 class="display-4">PittPlanner</h1>
                    <p class="lead">This is a degree progression web applicationf for IS students at The University of
                        Pittsburgh</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/dashboard" role="button">See my progression</a>
                    </p>
                </div>

            </div>
        </div>

    </div>