<%- include('partials/nav.ejs') %>


            <div class="row">
                <div class="col-md-6 mx-auto">
                <% if(errors) {%>
                    <div class="alert alert-danger text-center">
                        <% errors.forEach(function(err) { %>
                            <p>
                                <%= err %>
                            </p>
                            <% }); %>
                                </ul>
                    </div>
                    <% } %>
                    <div class="card card-body">
                        <h3 class="text-center">Account Register</h3>
                        <form action="/register" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" required name="email" value="">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" required name="password" value="">
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" class="form-control" required name="password2" value="">
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>